@charset 'utf-8';
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Jua|Noto+Sans+KR&display=swap');

/*font-family: 'Jua', sans-serif;
font-family: 'Noto Sans KR', sans-serif;*/

body{font-family: 'Noto Sans KR', sans-serif;color: #221d1c}
.wrapper{width: 1400px;margin: auto}
/*유틸리티*/
.header_top{margin: 10px 0;}
.util{float: right;margin-right:0px; }
.util li{float: left;background: url('../img/sprite.png') no-repeat -7px -3px;margin-top: 10px}
.util li a{text-align: center;font-size: 12px;color: #999;display: block;padding: 0 8px;line-height: 14px;height: 14px}
.util li a:hover{color:#666;}
.util li:first-child{background: none}

/*로고*/
.logo{text-align: center;margin-bottom:40px}
.logo a{background: url('../img/logo.png')no-repeat;width: 251px;height: 58px;text-indent: -9999px;display: block;margin-left: 580px;}

/*메뉴*/
.header_bottom{margin: 0 auto;width: 1000px;}
.gnb{float: left;text-align: center;width: 1000px;}
.main{float: left;position: relative;width: 25%;}
.main>a{display: block; font-family: 'Jua', sans-serif;font-size: 20px;color: #041b58;height: 40px;line-height:40px;padding: 0 10px;position: relative}
.main>a::after{content: '';height: 2px;width: 0;position: absolute;display: block;;background: #eef4e8 ;bottom:-2px;left:0;right: 0;margin: auto;z-index: 2200}
.main:hover>a::after{width: 100%;transition: width 0.5s}
.sub_wrap{position: absolute;background-color:#6b86b5 ;width:100%;height:220px;z-index: 1000;display: none}
.sub{position: absolute;width:100%;height:220px;z-index:2000;display: none}

.sub li{height: 50px;}
.sub li a{font-size: 16px;color: #fff; line-height: 50px;padding: 0 10px;}
.sub li:hover>a{color: #eef4e8 ;text-decoration: underline}

/*quickMenu*/

#quickMenu{width: 70px; height: 482px;position: absolute;right: 5px;top: 180px;border: 1px solid #e1e1e1;box-sizing: border-box}
#quickMenu ul li{height: 80px;;padding-top: 10px;box-sizing: border-box;background-color: #fff;border:1px solid #fff}
#quickMenu ul li a{display: block;margin: auto;background:url(../img/sprite.png)no-repeat;text-indent: -9999px;}
#quickMenu ul li:nth-child(1) a{background-position: -17px -61px;width: 19px;height: 23px;}
#quickMenu ul li:nth-child(2) a{background-position:-14px -119px;width: 24px;height: 18px;}
#quickMenu ul li:nth-child(3) a{background-position:-15px -174px;width: 22px;height: 23px;}
#quickMenu ul li:nth-child(4) a{background-position:  -17px -235px;width: 18px;height: 23px;}
#quickMenu ul li:nth-child(5) a{background-position: -11px -292px;width: 31px;height: 23px;}
#quickMenu ul li:nth-child(6) a{background-position:-14px -344px;width: 24px;height: 23px;}
#quickMenu ul li p{font-size: 12px; color: #272727;text-align: center;padding-top: 5px;padding-bottom: 5px; }
#quickMenu ul li:nth-of-type(1){line-height:40px;}
#quickMenu ul li:nth-of-type(2){line-height:40px;}
#quickMenu ul li:nth-of-type(3){line-height:40px;}
/*hover됐을때*/

#quickMenu ul li:hover{border:1px solid #041b58}
#quickMenu ul li:hover p{color:#041b58}

#quickMenu ul li:nth-child(1):hover a{background-position: -17px -89px;}
#quickMenu ul li:nth-child(2):hover a{background-position:-14px -146px;}
#quickMenu ul li:nth-child(3):hover a{background-position:-15px -201px}
#quickMenu ul li:nth-child(4):hover a{background-position:-17px -262px;}
#quickMenu ul li:nth-child(5):hover a{background-position: -11px -319px;}
#quickMenu ul li:nth-child(6):hover a{background-position:-14px -371px;}


/*고객센터_footer*/
.service_section{ border-top: 1px solid #041b58;border-bottom: 1px solid #041b58;box-sizing: border-box;}
.service_section h2{font-size: 18px;font-weight: bold;}
.service_section p{color: #959190;font-size: 14px;}

.serive_center{float: left;width: 414px;padding-top: 30px;padding-left: 40px;box-sizing: border-box}
.cs_tel{background: url(../img/icon_service.png)no-repeat left 40px top 72px; }
.cs_tel h3{color: #041b58;font-size: 36px;font-weight: bold;margin-top: 40px;margin-left:75px;}
.cs_time p{padding-left:80px;padding-top: 20px;}

/*공지사항 _footer*/
.notice{float: left;width: 550px;;border-left:1px solid #041b58;border-right:1px solid #041b58;height: 300px;padding-top: 30px;padding-left: 40px;box-sizing: border-box;padding-right: 50px;}
.notice h2{float: left;}
.notice .more{float: right;color:#041b58;position:relative;padding-right: 15px;}
.notice .more::after{background: url(../img/sprite.png)no-repeat -131px -3px; width: 15px; height: 14px;content: '';display: block;position: absolute;top: 5px;left: 43px;}

.notice .more:hover{border-bottom: 1px solid #6b86b5}


.notice ul{margin: 45px 0 0 14px }
.notice ul li a{color: #959190;font-size: 14px; line-height: 35px; height: 35px; }
.notice ul li span{float:right}

.notice ul li:hover{color:#041b58;border-bottom: 1px solid #041b58 }
.notice ul li:hover a{color:#041b58}

/*다른서비스섹션_footer*/
.service{float: left;width:  434px;}
.service h2{margin-bottom: 18px;}
.service>li{border-bottom:1px solid #041b58;float: left;width:  434px;box-sizing: border-box;height: 150px;}
.service .service_txt{float: left;padding-left: 20px;}
.service h3{background: url(../img/sprite.png)no-repeat -220px -10px;width: 76px;height: 72px;float: left;text-indent: -99999px;margin-top:35px;margin-left: 40px;}
.service .q_a .service_txt{margin-top:40px;}
.service .email{float: left;box-sizing: border-box;border: none}
.service .email h3{background-position:  -362px -23px;width: 75px;height: 46px;margin-top: 50px; }
.service .email .service_txt{margin-top: 30px;}

/*footer*/
footer{margin: 60px 0 0 50px;}
.footer_gnb li{float: left;padding: 0 15px;position: relative}
.footer_gnb li:after {content: ''; background: url(../img/sprite.png)no-repeat -7px -3px;width: 2px;height: 16px;display: block;position: absolute;top: 5px;left: 0}
.footer_gnb li:first-child:after{display: none}
footer h2{display: block;background:  url('../img/logo.png')no-repeat;width: 251px;height: 58px;text-indent: -9999px;display: block;margin-top: 30px;}
.footer_txt{margin-top:30px;margin-bottom: }
.footer_txt p{color: #041b58;font-size: 14px; line-height:40px;width:  }
.footer_txt p span{padding-left: -50px;width: 150px;display: inline-block}
.footer_txt ul{float: left;width:400px; }
.footer_txt .f_txt1{width:500px;}
.footer_txt .f_txt2 a{color: #041b58;text-decoration: underline;margin-left: 20px}
address{color: #041b58;font-size: 14px;margin: 40px 0;}
